@media screen and (max-width:400px) {
    #logindiv{
        height:90vh ;
        width:50vh ;
        margin-left: 5px;
    }
    #cssbu{
        margin-top:10px ;
    }
    #a1{
        text-align: left;
    }
	#anim{
		display:none ;
	}
	#anim2{
		display: none;
	}
    
#container{
    height:409px ;
    width:260px;
    border: solid black 3px;
    margin-left: 10px ;
    /* margin-top: 20vh; */
}
#a2{
font-size: 17px;
}
#logindiv{
    /* border:solid black 3px ; */
	margin-left: 0px !important;
	margin-top: 30px !important;

}
body{
	height:450px !important;
}
#showname{
    font-size: 25px;
	text-align: center !important;
}
#a1{
    font-size:20px ;
}
#container{
	width:275px !important;
	height:390px !important ;
	margin-left: 0px !important;
}
li{
	margin-left:5px ;
}
#resultenter{
	font-size: 20px !important;
}
/* #result{
	font-size: 10px;
} */

/* body {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #7107c8 66%, #b83a08 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#995ba1 66%,#331206 100%);
    background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#944f9d 66%,#ff1d56 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	/*min-height: calc(100vh - 2rem);*/
	/* display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

body::before, 
body::after {
	content: "";
	width: 70vmax;
	height: 65vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
body::after {
    width: 65vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
} */

    
} */
