@media screen and (max-width:400px) {
    #logindiv{
        height:400px !important;
        width:330px !important ;
      margin-left: 0px !important;
	margin-top: 30px !important; 
	  
    }
	#catdiv{
    /* border:solid black 3px ; */
    width: 360px;
    margin-top:50px ;
    
}
    #cssbu{
        margin-top:10px ;
    }
    #a1{
        text-align: left;
    }
	#anim{
		display:none ;
	}
	#anim2{
		display: none;
	}
    
#container{
   width:400px !important;
	height:390px !important ;
	margin-left: 0px !important;
    border:solid brown 3px ;
}
	#showname1{
    font-size: 25px;
	text-align: center !important;
    margin-left: 100px;
   
}
#a2{
font-size: 17px;
}

body{
	height:700px !important;
	width:250px !important ;
}
#showname{
    
	  font-size: 25px;
	text-align: center !important;
}
#a1{
    font-size:20px ;
}
#container{
	width:275px !important;
	height:390px !important ;
	margin-left: 0px !important;
}
li{
	margin-left:5px ;
}
#resultenter{
	font-size: 20px !important;
}

  
